.contact-form {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form h2 {
  color: var(--PRIMARY);

  font-size: 36px;
  font-weight: bold;

  text-align: center;
}

.contact-form .contact-form-inner {
  position: relative;
  display: flex;
}

.contact-form-content {
  flex-basis: 50%;
  padding: 30px 30px;

  background-color: #f0f4f8;

  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-input,
.form-text-area {
  border: 1px solid var(--PRIMARY);
}

.form-input,
.submit-form-button,
.form-text-area {
  border-radius: 5px;
}

.submit-form-button {
  cursor: pointer;
  width: 100%;

  background-color: var(--SUCCESS-BTN);
  color: var(--WHITE-FONT);

  font-size: 18px;
  font-weight: 600;

  padding: 14px 15px;
  border: 1px solid;

  transition: all 0.2s ease;
}

.submit-form-button:hover {
  background-color: var(--SUCCESS-BTN-HOVER);
}

.contact-form form {
  margin: 30px 0;
}

.form-input,
.form-text-area {
  width: 100%;

  background-color: #fcfcfc;
  color: #999;

  display: inline-block;
  outline: none;

  margin-bottom: 15px;
  font-stretch: 16px;

  padding: 14px 20px;
  box-sizing: border-box;

  transition: all 0.2s;
}

.form-input:focus,
.form-text-area:focus {
  outline: #3c6e71 solid 2px;
  color: var(--BLACK-FONT);
}

.form-text-area {
  resize: none;
}

.form-img {
  background: var(--PRIMARY);

  background-size: cover;
  padding: 40px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  flex-basis: 50%;
  flex-direction: column;
  gap: 15px;
}

.form-img img {
  height: 340px;
  max-width: 100%;

  width: auto;
  border-radius: 15px;
}

.img-subtitle {
  color: var(--WHITE-FONT);

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 736px) {
  .contact-form .contact-form-inner {
    flex-direction: column;
  }

  .contact-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .form-img {
    order: 2;

    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .contact-form-content {
    order: 1;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
